.add-story-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $sm) {
    margin: 0 3rem;
  }

  @media(min-width: $md){
    margin: 0 12rem;
  }
  @media(min-width: $xl){
    margin: 0 35rem;
    .header-container{
      margin-left: 0;
    }
  }
  @media (min-width: $xxl) {
    max-width: 50rem;
    margin: auto;
  }

  .htf-btn{
    font-size: 1.7rem;
  }

  
.forms-container{
  width: 100%;

  .how-to-format-container{
    font-size: 1.9rem;
    font-family: $font-2;
    text-align: center;
    padding: 2rem;
    padding-top: 3.5rem;
    border: 2px solid $color-5;
    border-radius: 3px;
    background-color: $color-3;
    margin-top: 2rem;
    position: relative;

    .change-esc-btn{
      position: absolute;
      top: -1px;
      right: -1px;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;


    label{
      font-size: 1.7rem;
      font-family: $font-2;
      margin-bottom: .5rem;
    }

    input, textarea{
      height: 3rem;
      border-radius: 3px;
      font-family: $font-1;
      font-size: 1.8rem;
      width: 100%;
      border-width: 2px;
      background-color: $font-3;
    }

    textarea {
      height: 30rem;
    }

    .add-story-item-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 2.5rem;
      width: 95%;
    }

    .form-btn-container{
      margin-top: 2.5rem;

    }



    
  
  }
}
}