.add-story-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
.forms-container{
  width: 100%;

  h2{
    font-size: 3rem;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;


    label{
      font-size: 1.7rem;
      font-family: $font-2;
      margin-bottom: .5rem;
    }

    input, textarea{
      height: 3rem;
      border-radius: 0;
      font-family: $font-1;
      font-size: 1.8rem;
      width: 100%;
      border-width: 1px;
      background-color: $font-3;
    }

    textarea {
      height: 30rem;
    }

    .add-story-item-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 2.5rem;
      width: 95%;
    }

    .form-btn-container{
      margin-top: 2.5rem;

    }



    
  
  }
}
}