.story-page-container{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  h3{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    border-bottom: 2px solid $color-5;
    margin: 0 2rem;
  }

  .story-btns-container{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn{
      margin: 2rem;
    }

    a{
      text-align: center;
      text-decoration: none;
    }
  }

  .story-donate-btns-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    p{
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    a{
      font-size: 1.8rem;
      text-decoration: none;
    }
  }

  .story-page-desc{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin: 0 2rem;
  }

  .author-container{
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
    a{
      color: $font-color-1;
      font-style: italic;
    }
  }
  .story-page-grid{
    display: flex;
    flex-direction: column;
    align-items: center;

    .story-page-main-item{
      .story-page-story{
        font-size: 1.7rem;
        line-height: 1.5;
        font-family: $font-2;
        background-color: $color-3;
        margin: 0 1rem;
        padding: 1rem 1rem;
        border-radius: 3px;
        border: 2px solid $color-5;
      }
    }

    .story-page-sub-item{
      width: 95vw;

    .comments-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: $color-3;
      margin: 3rem 0;
      padding: 0 2rem;
      border: 2px solid $color-5;

      h5{
        font-size: 2rem;
        margin: 1rem 0;
      }
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        label{
          font-size: 1.3rem;
          margin: .2rem 0;
        }
        .input-container{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
        input{
          width: inherit;
          height: 3.5rem;
        }
       
        button{
          margin: .5rem 0;
          margin-left: .5rem;
        }
      }
      ul{
        width: 100%;
        .comment-container{
          border-bottom: 1px solid $color-5;
          padding: .5rem;
          display: flex;
          justify-content: space-between;

          .comment-left{
            .comment-text{
              word-break: break-word;
              font-family: $font-2;
              font-size: 1.7rem;
            }
            .comment-user a{
              font-size: 1.6rem;
              font-style: italic;
              color: $font-color-1;
            }
          }
          .comment-right{
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

}