
.user-profile-container{
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $xxl) {
    max-width: 200rem;
    margin: auto;

  }
  .forms-container{
    width: 80rem;

    h2{
      font-size: 4rem;
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: inherit;

      label{
        margin-right: 1rem;
        font-size: 2.2rem;
      }

      input, textarea{
        height: 3rem;
        border-radius: 0;
        border: 2px solid grey;
        width: 60rem;
        font-family: $font-1;
        font-size: 1.8rem;
      }

      textarea {
        height: 12rem;
      }

      .add-story-item-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
        width: inherit;
      }

      button.add-username-btn{
        width: initial;
        align-self: flex-start;
        cursor: pointer;
      }
    }
  }
}

.sub-header-container{
  @media (min-width: $xl) {
    text-align: center;
  }
}


.author-donations-container{
  font-size: 2rem;
}