

.btn{
  border-radius: 3px;
  color: $font-color-1;
  font-family: $font-1;
  border: none;
  cursor: pointer;
  transition: all .15s ease-in;
  background-color: none;
  min-width: 6rem;

  &:hover{
    color: $color-3;
  }
}


.green-btn{
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: $color-1;
  text-transform: lowercase;
}


.delete-btn{
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: $color-5;
  text-transform: lowercase;

  &:focus{
    outline: 1px solid $color-3;
  }
}

.notification-btn{
  margin: .5rem 0 .75rem 0;
  font-size: 1.8rem;
  padding: .5rem 1rem;
  background-color: $color-1;
  font-size: 1.3rem;
  text-transform: lowercase;
}

.dd-btn{
  font-size: 2rem;
  padding: 1rem;
  &:hover{
    color: $font-color-1;
  }
}

.danger-btn{
padding: 1rem;
font-size: 1.3rem;
font-weight: 600;
background-color: $danger;
text-transform: lowercase;
}

.change-esc-btn{
  padding: .5rem;
  border-radius: 3px;
  font-size: 1.5rem;
  min-width: 3rem;
  font-weight: 600;
  background-color: $color-5;
  
}




.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  cursor: pointer;
  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}










