

.btn{
  border-radius: 3px;
  color: $font-color-1;
  font-family: $font-1;
  border: none;
  cursor: pointer;
  transition: all .15s ease-in;
  background-color: none;
  min-width: 6rem;

  &:hover{
    color: $color-3;
  }
}


.green-btn{
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: $color-1;
}


.delete-btn{
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: $color-5;

  &:focus{
    outline: 1px solid $color-3;
  }
}

.notification-btn{
  margin: .5rem 0 .75rem 0;
  font-size: 1.8rem;
  padding: .5rem 1rem;
  background-color: $color-1;
  font-size: 1.3rem;
}

.dd-btn{
  font-size: 2rem;
  padding: 1rem;
  &:hover{
    color: $font-color-1;
  }
}

.danger-btn{
padding: 1rem;
font-size: 1.3rem;
font-weight: 600;
background-color: $danger;
}

.change-esc-btn{
  padding: .5rem;
  border-radius: 3px;
  font-size: 1.5rem;
  min-width: 3rem;
  font-weight: 600;
  background-color: $color-5;
  
}















.google-btn {
  width: 138px;
  height: 31px;
  background-color: #4285f4;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 30px;
    height: 30px;
    border-radius: 1.5px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    width: 13px;
    height: 13px;
  }
  .google-btn-text {
    float: right;
    margin: 8px 8px 0 0;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  &:active {
    background: #1669F2;
  }
}
