.header-container{
  text-align: center;
  h1{
    font-size: 3rem;
    display: inline-block;
    text-align: center;
    margin-top: 5rem;
    border-bottom: 2px solid $color-5;
    font-family: $font-3; 
    
  }
  @media (min-width: $xl) {
    text-align: center;
  }

  @media (min-width: $xl) {
    h1{
      font-size: 4rem;
    }
  }

  &.author-subheader{
    margin-bottom: 3rem;
  }
}

.sub-header-container{
  text-align: center;
  h2{
    font-size: 2.3rem;
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid $color-5;
    font-family: $font-3;
  }
  @media (min-width: $xl) {
    margin: auto;
  }
}



.loader{
  width: 100vw;
  text-align: center;

  &.loader-margin{
    margin-top: 15rem;
  }
}
