@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


@import 'util/util-dir';


//Rests
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-1;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body{
  background-color: $color-4;
  max-width: 100%;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}




 



@import 'layout/layout-dir';
@import 'pages/pages-dir';
// @import 'stories';
// @import 'story';
// @import 'addStory';
// @import 'userProfile';
// @import 'author';
// @import 'snippets';
// @import 'payment';




